body {
    font-family: 'Courier New', Courier, monospace;
}

.playerSelections {
    display: flex;
    justify-content: center;
}

.playerSelection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
}