body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #182434;
    color: #a3afbc;
}

.playerSelections {
    display: flex;
    justify-content: center;
}

.playerSelection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.playerSelection:hover{
    transform: scale(1.5);
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.3rem;
}